@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:ital@1&display=swap');

:root {
    --cor-hover: rgb(34, 41, 37);
    --cor-primaria: rgb(231, 241, 237);
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: "Poppins", sans-serif;
}

.fundo {
    background-color: #000;
}

header {
    background-color: rgba(46, 46, 46, 0.363);
    position: relative;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 10;
    padding-top: 10px;
    background-size: 100% 100%;
    padding-bottom: 10px;

}

header {
    background-image: url("/assets/images/IMG_20220225_192241_921.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

*/ .container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}

.top {
    padding: 10px 0px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .button {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.829);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper.button:nth-child(4) {
    display: inline-block;

}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #E1306C;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #c4302b;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #34af23;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #4267B2;
}

.wrapper .button:nth-child(2) span {
    color: #E1306C;
}

.wrapper .button:nth-child(3) span {
    color: #c4302b;
}

.wrapper .button:nth-child(4) span {
    color: #34af23;
}

.container-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.dp-menu {
    font-size: 22px;
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: 0.3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
    border-radius: 15px;
}

/* Sub menu  */
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px;
}

.dp-menu ul ul li a {
    display: block;
}

.inicio {
    color: white;
}

.brand {
    /*LOGO CENTRAL*/
    background-color: #000;
    align-self: center;
    width: 200px;
    height: 200px;
    border-color: #000;
    border-radius: 50%;
}

.brand-2 {
    /*LOGO CENTRAL*/
    background-color: #000;

    width: 200px;
    height: 200px;
    border-color: #000;
    border-radius: 50%;
}

#video-principal {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#video-principal>iframe {
    max-width: 560px;
    width: 100%;
}

.sobre {
    background-color: #c4302b;
    color: #fff;
    text-decoration: none;
    margin: 50px;
    padding-bottom: 50px;
}

.sobre-titulo {
    font-style: "Regular 400 Italic";
    font-size: 40px;
}

.sobre-conteudo {
    background-image: url(/assets/images/183414191_2278596442270522_7663407530840598040_n.jpg);
    display: flex;
    justify-content: space-around;
    color: #fff;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 20px;
}

.sobre-paragrafo {
    background-color: #c42b6b;
    display: block;
    width: 800px;
    height: 200px;
    margin-left: 150px;
}

.sobre-img {
    width: 50%;
    height: 200px;

}

ol, ul, li {
    list-style: none;
    color: #F2E313;
}

a {
    color: #F2E313;
    text-decoration: none;
}

.slider {
    /*background-color: black;*/
    margin: auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');



.contactUs {
    position: relative;
    width: 80%;
    margin-left: 10%;
    /* padding: 40px 100px; */
}

.contactUs .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .titulo h2 {
    color: #fff;
    font-weight: 500;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
    border-radius: 20px;
}

.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
        "form info"
        "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form */
.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;

}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    border-radius: 10px;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    border-radius: 10px;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"] {
    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox ::placeholder {
    color: #999;
}

/* info */
.info {
    background: #0e3959;
}

.info h3 {
    color: #fff;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

/* social */
.sci {
    margin-top: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    font-size: 2em;
    color: #ccc;
}

.sci li a:hover {
    color: #fff;
}

/* mapa */
.map {
    padding: 0;
    border-radius: 10px;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.contact map {
    border-radius: 10px;
}

/* responsividade */
@media (max-width: 991px) {
    body {
        background: #03a9f5;
    }

    .contactUs {
        padding: 20px;
    }

    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "form"
            "info"
            "map";
    }

    .map {
        min-height: 300px;
    }

    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    .map {
        min-height: 300px;
        padding: 0;
    }
}

.catalogo {
    /* background-color: #c42b6b; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    
}

.catalogo-card {
    height: 400px;
    width: 320px;
    text-align: center;
    background-color: gray;
    border-radius: 20px;
}

.catalogo-card-conteudo-image{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 40px;
}

.catalogo-card-botoes-container {
    /* background-color: #34af23; */
    
    font: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
}

.catalogo-card-botoes-conteudo-1 {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.catalogo-card-botoes-conteudo-2 {
    border-radius: 8px;
    height: 30px;
    width: 40px;
}

.catalogo-card-botoes-conteudo-3 {
    border-radius: 8px;
    height: 30px;
    width: 90px;
}